{% extends "cart/layout.html" %}
{% block content %}

<form action="" method="post">
    {{form.hidden_tag()}}
    <legend>Create Consignment</legend>
    <div class="Volume ">
        {{form.volume.label(class = "")}}
        {% if form.volume.errors %}
        {{ form.volume(class="") }}
        <div class="invalid-feedback">
            {% for error in form.volume.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{form.volume(class = "")}}
        {% endif %}
    </div>
    <div class="SenderAddress">
        <h4>Sender's Address</h4>
        <div class="City">
            {{form.senderAddress.city.label(class = "")}}
            {% if form.senderAddress.city.errors %}
            {{ form.senderAddress.city(class="") }}
            <div class="invalid-feedback">
                {% for error in form.senderAddress.city.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.senderAddress.city(class="") }}
            {% endif %}
        </div>
        <div class="AddressLine">
            {{form.senderAddress.addrLine.label(class = "")}}
            {% if form.senderAddress.addrLine.errors %}
            {{ form.senderAddress.addrLine(class="") }}
            <div class="invalid-feedback">
                {% for error in form.senderAddress.addrLine.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.senderAddress.addrLine(class="") }}
            {% endif %}
        </div>
        <div class="ZipCode">
            {{form.senderAddress.zipCode.label(class = "")}}
            {% if form.senderAddress.zipCode.errors %}
            {{ form.senderAddress.zipCode(class="") }}
            <div class="invalid-feedback">
                {% for error in form.senderAddress.zipCode.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.senderAddress.zipCode(class="") }}
            {% endif %}
        </div>

    </div>
    <div class="ReceiverAddress">
        <h4>Receiver's Address</h4>
        <div class="City">
            {{form.receiverAddress.city.label(class = "")}}
            {% if form.receiverAddress.city.errors %}
            {{ form.receiverAddress.city(class="") }}
            <div class="invalid-feedback">
                {% for error in form.receiverAddress.city.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.receiverAddress.city(class="") }}
            {% endif %}
        </div>
        <div class="AddressLine">
            {{form.receiverAddress.addrLine.label(class = "")}}
            {% if form.receiverAddress.addrLine.errors %}
            {{ form.receiverAddress.addrLine(class="") }}
            <div class="invalid-feedback">
                {% for error in form.receiverAddress.addrLine.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.receiverAddress.addrLine(class="") }}
            {% endif %}
        </div>
        <div class = "ZipCode">
            {{form.receiverAddress.zipCode.label(class = "")}}
            {% if form.receiverAddress.zipCode.errors %}
            {{ form.receiverAddress.zipCode(class="") }}
            <div class="invalid-feedback">
                {% for error in form.receiverAddress.zipCode.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.receiverAddress.zipCode(class="") }}
            {% endif %}
        </div>
        
    </div>
    <div class="Branch">
        {{form.destinationBranch.label(class = "")}}
        {% if form.destinationBranch.errors %}
        {{ form.destinationBranch(class="") }}
        <div class="invalid-feedback">
            {% for error in form.destinationBranch.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{form.destinationBranch(class = "")}}
        {% endif %}
    </div>
</form>
{% endblock content %}