* {
  box-sizing: border-box;
}
:root {
  --boxwidth: 340px;
  --boxheight: 420px;
  --icon-box-dimensions: 250px;
  --icon-box-dimensions-half: calc(var(--icon-box-dimensions) /2);
  --icon-offset: -10%;
  --content-fontsize: 1.1em;
  --accentcolor: maroon;
  --light: #428bca;
  --dark: #5f788a;
  --text: #e3e3e3;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* grid-container */
.cont {
  margin: 0 auto;
  padding: 2%;
  max-width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--boxwidth), 1fr));
  grid-auto-rows: minmax(var(--boxheight), 1fr);
  grid-gap: 30px;
  justify-content: center;
  box-sizing: border-box;
}

/* this is the card selecter */
.box {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background: #efefef;
  transition: 0.5s;
}

.box:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.img-box {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.35s cubic-bezier(.15, .78, .46, .8);
  z-index: 1;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}

.img-box::after {
  /*   extract the title of the article */
  content: attr(title);
  font-family: "Lato";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 111%;
  z-index: 100;
  text-align: center;
  font-size: 1.05em;
  font-weight: 700;
  width: 250%;
  opacity: 1;
  border-radius: 50%;
  height: 45.5%;
  padding-top: 27px;
  /*     background: #fff radial-gradient(circle, rgba(0,0,0,0) , rgba(0,0,0,1) 300%); */
  background: #efefef;
  transition: 0.2s;
  color: #666;
  letter-spacing: -.6px;
  box-shadow: inset 0px 0 3px 3px rgba(0, 0, 0, 0.3)
}

.img-box::before {
  position: absolute;
  content: attr(data-author);
  bottom: 2.5%;
  font-weight: 400;
  color: white;
  z-index: 2001;
  text-align: center;
  width: 100%;
  color: var(--accentcolor);
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 0.8em;
  opacity: 1;
}

.cont .box:hover .img-box {
  top: var(--icon-offset);
  left: calc(50% - var(--icon-box-dimensions-half));
  width: var(--icon-box-dimensions);
  height: var(--icon-box-dimensions);
}

.cont .box:hover .img-box:after, .cont .box:hover .img-box:before {
  opacity: 0;
}

.cont .box:hover .img-box img {
  border: 2px solid white;
  border-radius: 50%;
  filter: saturate(70%) contrast(120%);
}

.box:hover .content {
  bottom: 0;
  opacity: 1;
  transform: scale(1);
}

.content {
  position: absolute;
  opacity: 1;
  bottom: -50%;
  width: 100%;
  height: 60%;
  padding: 3em;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4;
  transition: bottom 0.35s cubic-bezier(.15, .78, .46, .8), transform 0.3s;
  color: #000;
  opacity: 0;
}

.content h2 {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
}

.content h3 {
  font-size: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--accentcolor);
  margin-bottom: 0.5em;
}

.content p {
  font-size: var(--content-fontsize);
  font-weight: 100;
  margin-bottom: 0.5em;
}


@media screen and (min-width:600px) {
  :root {
    --boxheight: 420px;
  }
}
