{% extends "consign/layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Consignment</legend>
            <div class="form-group">
                {{ form.volume.label(class = "form-control-label") }}
                {% if form.volume.errors %}
                    {{ form.volume(class = "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.volume.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.volume(class = "form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <h4>Sender's Details</h4>
                <div class="form-group">
                    {{ form.sName.label(class = "form-control-label") }}
                    {% if form.sName.errors %}
                    {{ form.sName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sName.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sCity.label(class = "form-control-label") }}
                    {% if form.sCity.errors %}
                    {{ form.sCity(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sCity.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sCity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sAddrLine.label(class = "form-control-label") }}
                    {% if form.sAddrLine.errors %}
                    {{ form.sAddrLine(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sAddrLine.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sAddrLine(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sZipCode.label(class = "form-control-label") }}
                    {% if form.sZipCode.errors %}
                    {{ form.sZipCode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sZipCode.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sZipCode(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </div>
            <div class="form-group">
                <h4>Receiver's Details</h4>
                <div class="City">
                    {{ form.rName.label(class = "form-control-label") }}
                    {% if form.rName.errors %}
                    {{ form.rName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rName.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.rName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="City">
                    {{ form.rCity.label(class = "form-control-label") }}
                    {% if form.rCity.errors %}
                    {{ form.rCity(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rCity.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.rCity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rAddrLine.label(class = "form-control-label") }}
                    {% if form.rAddrLine.errors %}
                    {{ form.rAddrLine(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rAddrLine.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.rAddrLine(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rZipCode.label(class = "form-control-label") }}
                    {% if form.rZipCode.errors %}
                    {{ form.rZipCode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.rZipCode.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.rZipCode(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div>
                {{ form.branch.label(class = "form-control-label") }}
                {% if form.branch.errors %}
                {{ form.branch(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.branch.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.branch(class = "form-control form-control-lg")}}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}