{% extends "auth/layout.html" %}
{% block content %}
<br>
<div class="container cont">
    {% if data %}
    {% for data in data %}
    <div class="box">
        <div class="img-box" title={{ data.id }}><img src="{{ url_for('static', filename='consign.png') }}" alt="">
        </div>
        <div class="content">
            <h2>Consignment ID: {{ data.id }}</h2>
            <h3>Branch: {{ data.srcBranchID }}</h3>
            <p>Status: {{ data.status.name }}</p>
            <p>Volume: {{ data.volume }}</p>
            <p>Sender: {{ data.senderName }}</p>
            <button class="ghost-btn" onclick="location.href='/consign/view/{{ data.id }}';">View Bill</button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No consignments found</h2>
    {% endif %}
</div>
<br>
{% endblock %}