{% extends "auth/layout.html" %}
{% block content %}
<br>
<div class="container cont">
    {% if data %}
    {% for data in data %}
    <div class="box">
        <div class="img-box" title={{ data.id }}><img src="{{ url_for('static', filename='office.png') }}" alt=""></div>
        <div class="content">
            <h2>Branch ID: {{ data.id }}</h2>
            <h3>City: {{ data.address.city }}</h3>
            <p>Consignments: {{ data.consignments|count }}
            </p>
            <p>Trucks: {{ data.trucks|count }}
            </p>
            
            <!-- <p>Revenue: {{ data.revenue }}</p> -->
            <button class="ghost-btn" onclick="location.href='/branch/view/{{ data.id }}';">Go to this branch page</button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No branch found</h2>
    {% endif %}
</div>
<br>
{% endblock %}