{% extends "auth/layout.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.name }}! You are {{current_user.role}}.</h1>
<h3>What would you like to do?</h3>
{% endif %}
<div class="mngrcf container-fluid">
    <button type="button" class="button mngrbtn" onclick="location.href='/truck/view/all';"> View Trucks</button>
    <button type="button" class="button mngrbtn" onclick="location.href='/consign/view/all';"> View Consignments</button>
    <button type="button" class="button mngrbtn" onclick="location.href='/consign/';"> Place Consignment</button>
    <button type="button" class="button mngrbtn" onclick="location.href='/truck/dispatch/view';"> Dispatch Truck</button>
    <button type="button" class="button mngrbtn" onclick="location.href='truck/receive';"> Receive Truck</button>
    <button type="button" class="button mngrbtn" onclick="location.href='/truck/request-for';"> Request for Truck</button>
</div>
{% endblock %}