{% extends "auth/layout.html" %}

{% block content %}
    <button type="button" class="btn btn-secondary btn-lg">View Trucks</button>
    <button type="button" class="btn btn-secondary btn-lg">View Branches</button>
    <button type="button" class="btn btn-secondary btn-lg">View Consignments</button>
    <button type="button" class="btn btn-secondary btn-lg">Add Employee</button>
    <button type="button" class="btn btn-secondary btn-lg">Buy New Truck</button>
    <button type="button" class="btn btn-secondary btn-lg">Change Rate</button>
{% endblock %}